.currency-selector {
  position: fixed;
  top: 250px;
  width: 690px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 7px;
  padding: 5px;
}


@media screen and (max-width:700px) {
  .currency-selector {
    width: calc(100%);
    border-radius: 0;
    top: 219px;
  }
}


@media screen and (max-width:560px) {
  .currency-selector {
    top: 197px;
  }
}

@media screen and (max-width:440px) {
  .currency-selector {
    top: 203px;
  }
}
