.currency-selector__item {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}


.currency-selector__item:nth-of-type(5n) {
  border-right: none;
}

.currency-selector__item:hover .currency-selector__favourite_status_inactive {
  opacity: 0.2;
}


.currency-selector__item:focus-within {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:700px) {
  .currency-selector__item:nth-of-type(5n) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .currency-selector__item:nth-of-type(4n) {
    border-right: none;
  }
}


@media screen and (max-width:500px) {
  .currency-selector__item:nth-of-type(4n) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .currency-selector__item:nth-of-type(3n) {
    border-right: none;
  }
}


@media screen and (max-width:440px) {
  .currency-selector__item:nth-of-type(3n) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .currency-selector__item:nth-of-type(2n) {
    border-right: none;
  }
}
