.currency-selector__item-handlers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.currency-selector__item-handlers:hover .currency-selector__button {
  opacity: 0.7;
}

.currency-selector__item-handlers:hover .currency-selector__icon {
  opacity: 0.7;
}
