.currency-selector__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
  padding: 0;
  display: flex;
  justify-content: space-between;
}



.currency-selector__button:focus {
  outline: 0;
  opacity: 0.5;
}
