.currency-selector__favourite {
  background-color: transparent;
  border: none;
  background-image: url(../../../images/star.svg);
  background-size: contain;
  width: 12px;
  height: 12px;
  cursor: pointer;
  transition: transform 0.05s ease-in;
}


.currency-selector__favourite:hover {
  transform: scale(1.1);
}

.currency-selector__favourite:focus {
  outline: 0;
  opacity: 0.5;
}
